services:
  db:
    container_name: postgres-Training-Project
    image: postgres:latest
    environment:
      POSTGRES_USER: Training_Project_DB
      POSTGRES_PASSWORD: 2710
      PGDATA: /data/postgres
    volumes:
      - db:/data/postgres
    ports:
      - "5333:5432"
    networks:
      - db
    restart: unless-stopped

networks:
  db:
    driver: bridge

volumes:
  db:
